<div>
    <p>Child ChildComponent State: @ChildState</p>
</div>

@code {
    private string ChildState = "Initial State";

    public void UpdateState()
    {
        ChildState = "Updated State";
    }
}